[project]
	description = sampleTest1 test2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/trianzGit (trianzGit)
[access "refs/for/refs/*"]
	read = group user/trianzGit (trianzGit)
	push = group user/trianzGit (trianzGit)
	label-Code-Review = -2..+2 group user/trianzGit (trianzGit)
	label-Verified = -1..+1 group user/trianzGit (trianzGit)
	rebase = group user/trianzGit (trianzGit)
	removeReviewer = group user/trianzGit (trianzGit)
	submit = group user/trianzGit (trianzGit)
[access "refs/heads/*"]
	read = group user/trianzGit (trianzGit)
	create = group user/trianzGit (trianzGit)
	push = +force group user/trianzGit (trianzGit)
	pushMerge = group user/trianzGit (trianzGit)
[access "refs/tags/*"]
	push = +force group user/trianzGit (trianzGit)
	pushTag = group user/trianzGit (trianzGit)
	pushSignedTag = group user/trianzGit (trianzGit)
