[project]
	description = sampleTest1 test2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/trianzGit
[access "refs/for/refs/*"]
	read = group user/trianzGit
	push = group user/trianzGit
	label-Code-Review = -2..+2 group user/trianzGit
	label-Verified = -1..+1 group user/trianzGit
	rebase = group user/trianzGit
	removeReviewer = group user/trianzGit
	submit = group user/trianzGit
[access "refs/heads/*"]
	read = group user/trianzGit
	create = group user/trianzGit
	push = +force group user/trianzGit
	pushMerge = group user/trianzGit
[access "refs/tags/*"]
	push = +force group user/trianzGit
	pushTag = group user/trianzGit
	pushSignedTag = group user/trianzGit
